.bundle
utils/db_production
db/*.sqlite3
log/*.log
log/
tmp/
./idea/
.idea/
uploaded_files/*
*.rails2
config/environments/development.rb
config/environments/test.rb
.sass-cache/
public/assets
public/images/*
db/development_structure.sql
public/templates/*
utils/db_backups
public/ckeditor_assets/
public/car_pics/
.ruby-version
