<%= form_tag(submit_numbers_path, method: :put) do -%>

	<p>First value<br/>
 	<%= text_field_tag(:first_value, nil,  class: "field", data: {
      :validation => "number",
      "validation-allowing=" => "range[1;9]",
      "validation-error-msg" => "This field should be a number between 1 and 9"
  })%>

  <p>Second value<br/>
 	<%= text_field_tag(:second_value, nil, class: "field", data: {
      :validation => "number",
      "validation-allowing=" => "range[1;9]",
      "validation-error-msg" => "This field should be a number between 1 and 9"
  })%>

  <div><%= submit_tag 'Send' %></div>
  
<% end -%>